QUESTIONS_POSTGRES_DB=quiz_rush_questions
QUESTIONS_POSTGRES_USER=quiz_rush_questions
QUESTIONS_POSTGRES_PASSWORD=quiz_rush_questions_password

GAME_POSTGRES_DB=quiz_rush_game
GAME_POSTGRES_USER=quiz_rush_game
GAME_POSTGRES_PASSWORD=quiz_rush_game_password
